body {
    background-color; rgb(255, 128,0);
    padding: 80px;}
img {
    float:right;
    width: 40%;
    }
body.page1{
    background-image: url("https://lh3.googleusercontent.com/qzeDHEH4itIbIKtU0XAr-VMB7bKYCG4wsgWoJno2PaHuTxzMAPaWwPHMdvewrwgNcfq3Pdq8pg=s630-fcrop64=1,00410000fef7ffff");
}
body.page2{
    background-image: url("https://67.media.tumblr.com/5600c729126390b07d0cb4e72956dbae/tumblr_n51vauGn8q1tzbhk4o1_500.gif");
}
    
    
