body {
    background-color; rgb(255, 128,0);
    padding: 80px;}
img {
    float:right;
    width: 61%;
    }
body{
    background-image: url("https://lh3.googleusercontent.com/qzeDHEH4itIbIKtU0XAr-VMB7bKYCG4wsgWoJno2PaHuTxzMAPaWwPHMdvewrwgNcfq3Pdq8pg=s630-fcrop64=1,00410000fef7ffff");
}
